.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.12);
}

.header__left {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.header__left > img {
  height: 70px;
}

.header__center {
  display: flex;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 10px;
  flex: 0.7;
}

.header__center > input {
  background: transparent;
  border: none;
  outline: none;
  flex: 1;
}

.header__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
}
